@{
    ViewData["Title"] = "خانه";
}

@*<div class="alert alert-success mt-5">
        <a href="#" class="close" data-dismiss="alert">×</a>
        مثالی از نحوه‌ی سفارشی سازی ASP.NET Core Identity
    </div>*@

<div class="card card-dark">
    <div class="card-header">
        <h4>خوش آمدید!</h4>
    </div>
</div>

<br />
<br />

@{
    if (User.Identity.IsAuthenticated)
    {
        <security-trimming asp-area="" asp-controller="Menus" asp-action="Index">
            <div class="form-group row">
                <div class="col-md-4">
                    <a class="btn btn-outline-dark btn-block" asp-controller="Menus" asp-action="Index">
                        منو ها
                    </a>
                </div>
            </div>
        </security-trimming>

        <security-trimming asp-area="" asp-controller="Categories" asp-action="Index">
            <div class="form-group row">
                <div class="col-md-4">
                    <a class="btn btn-outline-dark btn-block" asp-controller="Categories" asp-action="Index">
                        گروه ها
                    </a>
                </div>
            </div>
        </security-trimming>

        <security-trimming asp-area="" asp-controller="Pages" asp-action="Index">
            <div class="form-group row">
                <div class="col-md-4">
                    <a class="btn btn-outline-dark btn-block" asp-controller="Pages" asp-action="Index">
                        صفحه ها
                    </a>
                </div>
            </div>
        </security-trimming>

        <security-trimming asp-area="" asp-controller="SlideShow" asp-action="Index">
            <div class="form-group row">
                <div class="col-md-4">
                    <a class="btn btn-outline-dark btn-block" asp-controller="SlideShow" asp-action="Index">
                        اسلاید شو ها
                    </a>
                </div>
            </div>
        </security-trimming>

        <security-trimming asp-area="" asp-controller="Folders" asp-action="Index">
            <div class="form-group row">
                <div class="col-md-4">
                    <a class="btn btn-outline-dark btn-block" asp-controller="Folders" asp-action="Index">
                        فولدر ها
                    </a>
                </div>
            </div>
        </security-trimming>

        <security-trimming asp-area="" asp-controller="Brands" asp-action="Index">
            <div class="form-group row">
                <div class="col-md-4">
                    <a class="btn btn-outline-dark btn-block" asp-controller="Brands" asp-action="Index">
                        برند ها
                    </a>
                </div>
            </div>
        </security-trimming>

        <security-trimming asp-area="" asp-controller="SiteSettings" asp-action="Index">
            <div class="form-group row">
                <div class="col-md-4">
                    <a class="btn btn-outline-dark btn-block" asp-controller="SiteSettings" asp-action="Index">
                        تنظیمات نمایشی سایت
                    </a>
                </div>
            </div>
        </security-trimming>

        if (User.IsInRole(ConstantRoles.Admin))
        {
            <div class="form-group row">
                <div class="col-md-4">
                    <a class="btn btn-outline-dark btn-block" asp-controller="FileUpload" asp-action="Index">
                        File Uploader
                    </a>
                </div>
            </div>
        }
    }
}