@model PictureViewModel

@{
    ViewData["Title"] = "درج تصاویر";
}

@section styles
{
    <!-- blueimp Gallery styles -->
    <link href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/lib/blueimp-gallery/css/blueimp-gallery-indicator.css" rel="stylesheet" asp-append-version="true" />*@

    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link href="~/lib/blueimp-file-upload/css/jquery.fileupload.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/blueimp-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" asp-append-version="true" />
}

<div class="alert alert-warning mt-5">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <ul>
        <li><strong>فرمت های قابل آپلود شامل موارد زیر است :</strong></li>
        <li>
            <strong>gif</strong> | <strong>jpeg</strong> | <strong>jpg</strong> | <strong>png</strong> | <strong>svg</strong> | <strong>tif</strong> | <strong>pdf</strong> | <strong>xls</strong> | <strong>xlsx</strong> | <strong>zip</strong> | <strong>rar</strong> | <strong>apk</strong>
        </li>
        <li>حداکثر حجم قابل آپلود <strong>99.9 MB</strong> است</li>
    </ul>
</div>

<form method="POST" enctype="multipart/form-data" asp-area="" asp-action="Upload" asp-controller="Folders">
    <partial name="_Image" />
    <input asp-for="Id" />
</form>

@section scripts{
    @* jQuery File Upload scripts *@

    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="~/lib/jquery-ui/ui/widget.js" asp-append-version="true"></script>

    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="~/lib/blueimp-tmpl/js/tmpl.min.js" asp-append-version="true"></script>

    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="~/lib/blueimp-load-image/js/load-image.all.min.js" asp-append-version="true"></script>

    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="~/lib/blueimp-canvas-to-blob/js/canvas-to-blob.min.js" asp-append-version="true"></script>

    <!-- blueimp Gallery script -->
    <script src="~/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js" asp-append-version="true"></script>
    @*<script src="~/lib/blueimp-gallery/js/blueimp-gallery-indicator.js" asp-append-version="true"></script>*@

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="~/lib/blueimp-file-upload/js/jquery.iframe-transport.js" asp-append-version="true"></script>

    <!-- The basic File Upload plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload.js" asp-append-version="true"></script>

    <!-- The File Upload processing plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-process.js" asp-append-version="true"></script>

    <!-- The File Upload image preview & resize plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-image.js" asp-append-version="true"></script>

    @* Remove this *@
    <!-- The File Upload audio preview plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-audio.js" asp-append-version="true"></script>

    @* Remove this *@
    <!-- The File Upload video preview plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-video.js" asp-append-version="true"></script>

    <!-- The File Upload validation plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-validate.js" asp-append-version="true"></script>

    <!-- The File Upload user interface plugin -->
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload-ui.js" asp-append-version="true"></script>


    @* Main application script *@
    <script src="~/js/fileupload/index.js" asp-append-version="true"></script>

    <script src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js" asp-append-version="true"></script>
    <script src="~/lib/blueimp-gallery/js/blueimp-gallery-video.js" asp-append-version="true"></script>
    <script src="~/lib/blueimp-gallery/js/blueimp-gallery-indicator.js" asp-append-version="true"></script>
    <script src="~/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js" asp-append-version="true"></script>
    <script src="~/js/fileupload/show.js" asp-append-version="true"></script>
}