@{
    //ViewData["Title"] = ViewBag.PersianSiteName;
    Layout = "~/Views/Shared/_LayoutN.cshtml";
}

<vc:slider></vc:slider>

<main class="page-content">
    <vc:main-static-content></vc:main-static-content>
    <vc:last-pages></vc:last-pages>
    <vc:brand></vc:brand>
</main>