@{
    //ViewData["Title"] = ViewBag.PersianSiteName;
    Layout = "~/Views/Shared/_LayoutN.cshtml";
}

<vc:slider></vc:slider>

<!-- Main -->
<main class="page-content">

    <!-- Services Area -->
    <div class="tm-section services-area bg-grey tm-padding-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-12">
                    <div class="tm-section-title text-center">
                        <h2>انواع نسخه های نرم افزار جامع حسابداری هاترا</h2>
                        <span class="divider"><i class="fa fa-superpowers"></i></span>
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="row mt-30-reverse">

                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 mt-30">
                    <div class="tm-service text-center wow fadeInUp">
                        <span class="tm-service-bgicon">
                            <i class="flaticon-analysis"></i>
                        </span>
                        <span class="tm-service-icon">
                            <i class="flaticon-analysis"></i>
                        </span>
                        <div class="tm-service-content">
                            <h5><a href="#">نرم افزار جامع شرکتی هاترا</a></h5>
                            <p>نرم افزار حسابداری هاترا با توجه به نوع فعالیت شرکت‌ها، دارای بسته های بازرگانی ، خدماتی و تولیدی می باشد که هر کدام شامل سیستم‌ها و زیرسیستم‌های مختلف است. </p>
                            <a href="#" class="tm-readmore">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->
                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 mt-30">
                    <div class="tm-service text-center wow fadeInUp">
                        <span class="tm-service-bgicon">
                            <i class="flaticon-consulting"></i>
                        </span>
                        <span class="tm-service-icon">
                            <i class="flaticon-consulting"></i>
                        </span>
                        <div class="tm-service-content">
                            <h5><a href="#">نرم افزار جامع فروشگاهی هاترا</a></h5>
                            <p>نرم افزار حسابداری جامع فروشگاهی هاترا با توجه به نیازهای فروشگاه‌ها در اصناف گوناگون، امکانات و راهکارهای مناسبی را جهت مدیریت حساب‌ها به فروشگاه‌داران ارائه می‌دهد.</p>
                            <a href="#" class="tm-readmore">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->
                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 mt-30">
                    <div class="tm-service text-center wow fadeInUp">
                        <span class="tm-service-bgicon">
                            <i class="flaticon-growth"></i>
                        </span>
                        <span class="tm-service-icon">
                            <i class="flaticon-growth"></i>
                        </span>
                        <div class="tm-service-content">
                            <h5><a href="#">نرم افزار جامع رستورانی هاترا</a></h5>
                            <p>نرم افزار حسابداری جامع رستورانی هاترا با توجه به نیازهای رستوران ها، امکانات و راهکارهای مناسبی را جهت مدیریت و سفارش گیری رستوران ارائه می‌دهد.</p>
                            <a href="#" class="tm-readmore">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->
                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 mt-30">
                    <div class="tm-service text-center wow fadeInUp">
                        <span class="tm-service-bgicon">
                            <i class="flaticon-planning"></i>
                        </span>
                        <span class="tm-service-icon">
                            <i class="flaticon-planning"></i>
                        </span>
                        <div class="tm-service-content">
                            <h5><a href="#">نرم افزار جامع نمایندگی خودرو هاترا</a></h5>
                            <p>نرم افزار حسابداری جامع نمایندگی خودرو هاترا دارای امکانات مناسب جهت ثبت پذیرش خودرو و گزارش های مناسب جهت نمایندگی های خودرو ارائه می دهد.</p>
                            <a href="#" class="tm-readmore">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->
                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 mt-30">
                    <div class="tm-service text-center wow fadeInUp">
                        <span class="tm-service-bgicon">
                            <i class="flaticon-money"></i>
                        </span>
                        <span class="tm-service-icon">
                            <i class="flaticon-money"></i>
                        </span>
                        <div class="tm-service-content">
                            <h5><a href="#">نرم افزار اندروید مدیریت هاترا</a></h5>
                            <p>نرم افزار اندروید هاترا دارای امکانات مناسب جهت گزارش گیری - سفارش گیری مناسب رستوران ها و کافی شاپ ها - مناسب جهت استفاده بازاریاب های شرکت ها می باشد.</p>
                            <a href="#" class="tm-readmore">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->
                <!-- Single Service -->
                <div class="col-lg-4 col-md-6 col-12 mt-30">
                    <div class="tm-service text-center wow fadeInUp">
                        <span class="tm-service-bgicon">
                            <i class="flaticon-management"></i>
                        </span>
                        <span class="tm-service-icon">
                            <i class="flaticon-management"></i>
                        </span>
                        <div class="tm-service-content">
                            <h5><a href="#">نرم افزار جامع تولیدی هاترا</a></h5>
                            <p>نرم افزار حسابداری هاترا دارای اطلاعات جامعی برای شرکت های تولیدی می باشد که هر کدام شامل سیستم‌ها و زیرسیستم‌های مختلف است.</p>
                            <p><br /></p>
                            <a href="#" class="tm-readmore">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
                <!--// Single Service -->

            </div>
        </div>
    </div>
    <!--// Services Area -->
    <!-- About Us Area -->
    <div class="tm-section about-us-area bg-white tm-padding-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="tm-about-image">
                        <img class="wow fadeInLeft" src="~/lib/deconsultrtl/assets/images/others/about-image.png" alt="deconsult image">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <div class="tm-about-content">
                        <h2>درباره تحلیل گران هوشمند آریا سیستم</h2>
                        <span class="divider"><i class="fa fa-superpowers"></i></span>
                        <p>شرکت تحليلگران هوشمند آريا سیستم ، در سال ۱۳۸۱ با عنوان موسسه خدمات مالي و حسابداري فعاليت خود را آغاز نمود. با تلاش و دانش تیم خبره، شرکت تحليل گران هوشمند آريا توانست در سال ۱۳۸۹ اولين بسته نرم افزاري خود را با نام تجاري “هاترا” توليد نموده و در گروه نرم افزارهاي مالي و اداري به ثبت برساند. برخی از خدمات و فعالیت های شرکت :</p>
                        <ul class="stylish-list">
                            <li><i class="fa fa-check-square-o"></i>نرم افزار جامع حسابداری هاترا</li>
                            <li><i class="fa fa-check-square-o"></i>انجام کلیه خدمات مالی و حسابداری</li>
                            <li><i class="fa fa-check-square-o"></i>حسابداری و حسابرسی کلیه شرکت ها و موسسات</li>
                            <li><i class="fa fa-check-square-o"></i>مشاوره و ایجاد طرح توسعه برای شرکت ها</li>
                            <li><i class="fa fa-check-square-o"></i>پیاده سازی نرم افزارهای تخصصی به سفارش مشتریان</li>
                        </ul>
                        <a href="#" class="tm-button">درباره ی ما<b></b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// About Us Area -->
    <!-- Request Callback Area -->
    @*<div class="tm-section callback-area bg-white tm-padding-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tm-callback">
                            <h2>تماس با تیم هاترا</h2>
                            <p>شما می توانید جهت ارائه نظرات ، پیشنهادات و انتقادات خود از طریق فرم زیر با کارشناسان فنی ، فروش ، حسابداری و پشتیبانی شرکت تحلیل گران هوشمند در ارتباط باشید. ما در اسرع وقت پاسخگوی شما خواهیم بود. </p>
                            <form action="#" class="tm-form">
                                <div class="tm-form-inner">
                                    <div class="tm-form-field">
                                        <input type="text" placeholder="ایمیل را وارد کنید*" required="">
                                    </div>
                                    <div class="tm-form-field">
                                        <select>
                                            <option value="a">دسته بندی را انتخاب کنید</option>
                                            <option value="b">تجزیه و تحلیل مالی</option>
                                            <option value="c">مشاوره کسب و کار</option>
                                            <option value="d">امور مالی شرکت</option>
                                            <option value="e">برنامه ریزی مالی</option>
                                            <option value="f">پشتیبانی فنی هاترا</option>
                                            <option value="g">مشاوره مالی و حسابداری</option>
                                        </select>
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <input type="text" placeholder="شماره تلفن*" required="">
                                    </div>
                                    <div class="tm-form-field tm-form-fieldhalf">
                                        <input type="text" data-toggle="datepicker" placeholder="تاریخ را انتخاب کنید" required="">
                                    </div>
                                    <div class="tm-form-field">
                                        <button type="submit" class="tm-button">ثبت</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="tm-successreport">
                            <img class="wow fadeInRight" src="~/assets/base/Location/v2/location_picture_small.jpg" alt="deconsult image">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!--// Request Callback Area -->
    <!-- Funfact Area -->
    @*<div class="tm-section funfact-area tm-padding-section tm-parallax" data-bgimage="lib/deconsultrtl/assets/images/bg/bg-image-1.jpg" data-overlay="9">
            <div class="container">
                <div class="row tm-funfact-wrapper">

                    <!-- Single Funfact -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="tm-funfact wow fadeInUp">
                            <span class="tm-funfact-icon">
                                <i class="flaticon-group"></i>
                            </span>
                            <div class="tm-funfact-content">
                                <span class="odometer" data-count-to="500"></span>
                                <h5>پروژه های انجام شده</h5>
                            </div>
                        </div>
                    </div>
                    <!--// Single Funfact -->
                    <!-- Single Funfact -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="tm-funfact wow fadeInUp">
                            <span class="tm-funfact-icon">
                                <i class="flaticon-success"></i>
                            </span>
                            <div class="tm-funfact-content">
                                <span class="odometer" data-count-to="500"></span>
                                <h5>مشتریان خوشحال</h5>
                            </div>
                        </div>
                    </div>
                    <!--// Single Funfact -->
                    <!-- Single Funfact -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="tm-funfact wow fadeInUp">
                            <span class="tm-funfact-icon">
                                <i class="flaticon-trophy"></i>
                            </span>
                            <div class="tm-funfact-content">
                                <span class="odometer" data-count-to="500"></span>
                                <h5>مجموع کاربران</h5>
                            </div>
                        </div>
                    </div>
                    <!--// Single Funfact -->
                    <!-- Single Funfact -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="tm-funfact wow fadeInUp">
                            <span class="tm-funfact-icon">
                                <i class="flaticon-like"></i>
                            </span>
                            <div class="tm-funfact-content">
                                <span class="odometer" data-count-to="500"></span>
                                <h5>پسندیدن</h5>
                            </div>
                        </div>
                    </div>
                    <!--// Single Funfact -->

                </div>
            </div>
        </div>*@
    <!--// Funfact Area -->
    <!-- Team Area -->
    <!-- <div class="tm-section team-members-area bg-white tm-padding-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-12">
                    <div class="tm-section-title text-center">
                        <h2>مشاوران ما</h2>
                        <span class="divider"><i class="fa fa-superpowers"></i></span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله </p>
                    </div>
                </div>
            </div>
            <div class="row mt-30-reverse">

                <div class="col-lg-3 col-md-6 col-12 mt-30">
                    <div class="tm-member wow fadeInUp">
                        <div class="tm-member-top">
                            <img src="~/lib/deconsultrtl/assets/images/team/team-member-1.jpg" alt="team member">
                            <div class="tm-member-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tm-member-bottom">
                            <h5>استلی فلچر</h5>
                            <p>مشاور</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-30">
                    <div class="tm-member wow fadeInUp">
                        <div class="tm-member-top">
                            <img src="~/lib/deconsultrtl/assets/images/team/team-member-2.jpg" alt="team member">
                            <div class="tm-member-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tm-member-bottom">
                            <h5>برنارد رادرفورد</h5>
                            <p>مشاور</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-30">
                    <div class="tm-member wow fadeInUp">
                        <div class="tm-member-top">
                            <img src="~/lib/deconsultrtl/assets/images/team/team-member-3.jpg" alt="team member">
                            <div class="tm-member-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tm-member-bottom">
                            <h5>آملی برنارد</h5>
                            <p>مشاور</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-30">
                    <div class="tm-member wow fadeInUp">
                        <div class="tm-member-top">
                            <img src="~/lib/deconsultrtl/assets/images/team/team-member-4.jpg" alt="team member">
                            <div class="tm-member-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tm-member-bottom">
                            <h5>دمو تن</h5>
                            <p>بازاریاب</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->
    <div class="tm-section bg-grey tm-padding-section" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-5 col-12">
                    <div class="tm-section-title text-center">
                        <h2>نمایندگی های فروش هاترا</h2>
                        <span class="divider"><i class="fa fa-superpowers"></i></span>
                        <p>نرم افزار حسابداری هاترا دارای نمایندگی های مختلف در بسیاری از استان ها و شهرهای کشور می باشد </p>
                        <a href="#" class="tm-readmore">لیست نمایندگی ها</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-2 col-12" style="height: 0px;">

                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-12">
                    <div class="tm-section-title text-center">
                        <h2>دانشگاه ها و موسسات</h2>
                        <span class="divider"><i class="fa fa-superpowers"></i></span>
                        <p>نرم افزار حسابداری هاترا به عنوان مرجعی جهت آموزش حسابداری در تعدادی از موسسات و دانشگاه های کشور تدریس می شود.</p>
                        <a href="#" class="tm-readmore">لیست دانشگاه ها و موسسات</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Portfolios -->
    @*<div class="tm-section portfolios-area bg-grey tm-padding-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-12">
                        <div class="tm-section-title text-center">
                            <h2>نمونه کارها</h2>
                            <span class="divider"><i class="fa fa-superpowers"></i></span>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله </p>
                        </div>
                    </div>
                </div>

                <div class="tm-portfolio-buttons text-center">
                    <button data-filter="*" class="is-active">همه</button>
                    <button data-filter=".portfolio-filter-business">کسب و کار</button>
                    <button data-filter=".portfolio-filter-financial">مالی</button>
                    <button data-filter=".portfolio-filter-investment">سرمایه گذاری</button>
                    <button data-filter=".portfolio-filter-careative">خلاق</button>
                    <button data-filter=".portfolio-filter-technology">تکنولوژی</button>
                </div>

                <div class="row tm-portfolio-wrapper mt-30-reverse">

                    <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-business portfolio-filter-investment">
                        <div class="tm-portfolio mt-30 wow fadeInUp">
                            <div class="tm-portfolio-image">
                                <img src="~/lib/deconsultrtl/assets/images/portfolio/portfolio-image-1.jpg" alt="portfolio image">
                                <ul class="tm-portfolio-actions">
                                    <li class="link-button">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </li>
                                    <li class="zoom-button">
                                        <a href="~/lib/deconsultrtl/assets/images/portfolio/lg/portfolio-image-lg-1.jpg"><i class="fa fa-search-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tm-portfolio-content">
                                <h5><a href="#">لورم ایپسوم متن ساختگی ب</a></h5>
                                <h6><a href="#">کسب و کار</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-financial portfolio-filter-careative portfolio-filter-technology">
                        <div class="tm-portfolio mt-30 wow fadeInUp">
                            <div class="tm-portfolio-image">
                                <img src="~/lib/deconsultrtl/assets/images/portfolio/portfolio-image-2.jpg" alt="portfolio image">
                                <ul class="tm-portfolio-actions">
                                    <li class="link-button">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </li>
                                    <li class="zoom-button">
                                        <a href="~/lib/deconsultrtl/assets/images/portfolio/lg/portfolio-image-lg-2.jpg"><i class="fa fa-clone"></i></a>
                                        <a href="~/lib/deconsultrtl/assets/images/portfolio/lg/portfolio-image-lg-3.jpg"><i class="fa fa-clone"></i></a>
                                        <a href="~/lib/deconsultrtl/assets/images/portfolio/lg/portfolio-image-lg-4.jpg"><i class="fa fa-clone"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tm-portfolio-content">
                                <h5><a href="#">لورم ایپسوم متن ساختگی ب</a></h5>
                                <h6><a href="#">مالی</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-business portfolio-filter-technology">
                        <div class="tm-portfolio mt-30 wow fadeInUp">
                            <div class="tm-portfolio-image">
                                <img src="~/lib/deconsultrtl/assets/images/portfolio/portfolio-image-3.jpg" alt="portfolio image">
                                <ul class="tm-portfolio-actions">
                                    <li class="link-button">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </li>
                                    <li class="zoom-button">
                                        <a href="../../../../../https@www.youtube.com/watch@v=Sv511KEiIJQ"><i class="fa fa-play"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tm-portfolio-content">
                                <h5><a href="#">لورم ایپسوم متن ساختگی با </a></h5>
                                <h6><a href="#">تکنولوژی</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-business portfolio-filter-careative">
                        <div class="tm-portfolio mt-30 wow fadeInUp">
                            <div class="tm-portfolio-image">
                                <img src="~/lib/deconsultrtl/assets/images/portfolio/portfolio-image-4.jpg" alt="portfolio image">
                                <ul class="tm-portfolio-actions">
                                    <li class="link-button">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </li>
                                    <li class="zoom-button">
                                        <a href="~/lib/deconsultrtl/assets/images/portfolio/lg/portfolio-image-lg-4.jpg"><i class="fa fa-search-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tm-portfolio-content">
                                <h5><a href="#">لورم ایپسوم متن ساختگی</a></h5>
                                <h6><a href="#">خلاق</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-financial portfolio-filter-investment">
                        <div class="tm-portfolio mt-30 wow fadeInUp">
                            <div class="tm-portfolio-image">
                                <img src="~/lib/deconsultrtl/assets/images/portfolio/portfolio-image-5.jpg" alt="portfolio image">
                                <ul class="tm-portfolio-actions">
                                    <li class="link-button">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </li>
                                    <li class="zoom-button">
                                        <a href="../../../../../https@www.youtube.com/watch@v=Sv511KEiIJQ"><i class="fa fa-play"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tm-portfolio-content">
                                <h5><a href="#">لورم ایپسوم متن ساختگی با تو</a></h5>
                                <h6><a href="#">مالی</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 tm-portfolio-item portfolio-filter-financial portfolio-filter-careative">
                        <div class="tm-portfolio mt-30 wow fadeInUp">
                            <div class="tm-portfolio-image">
                                <img src="~/lib/deconsultrtl/assets/images/portfolio/portfolio-image-6.jpg" alt="portfolio image">
                                <ul class="tm-portfolio-actions">
                                    <li class="link-button">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                    </li>
                                    <li class="zoom-button">
                                        <a href="~/lib/deconsultrtl/assets/images/portfolio/lg/portfolio-image-lg-6.jpg"><i class="fa fa-search-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tm-portfolio-content">
                                <h5><a href="#">لورم ایپسوم متن ساختگی با تو</a></h5>
                                <h6><a href="#">خلاق</a></h6>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tm-portfolio-loadmore text-center mt-50">
                            <a href="#" class="tm-button tm-button-dark">مشاهده همه<b></b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!--// Our Portfolios -->
    <!-- <div class="tm-section testimonial-area tm-padding-section tm-parallax" data-overlay="9" data-bgimage="lib/deconsultrtl/assets/images/bg/bg-image-2.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-12">
                    <div class="tm-section-title tm-section-title-white text-center">
                        <h2>آنچه مشتریان می گویند</h2>
                        <span class="divider"><i class="fa fa-superpowers"></i></span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله </p>
                    </div>
                </div>
            </div>
            <div class="row testimonial-slider-active">

                <div class="col-lg-6">
                    <div class="tm-testimonial">
                        <div class="tm-testimonial-content">
                            <i class="fa fa-quote-left"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و </p>
                        </div>
                        <div class="tm-testimonial-bottom">
                            <div class="tm-testimonial-authorimage">
                                <img src="~/lib/deconsultrtl/assets/images/authors/author-image-4.jpg" alt="author image">
                            </div>
                            <div class="tm-testimonial-authorcontent">
                                <h5>سیسیلیا ماس</h5>
                                <p>رهبر تیم</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="tm-testimonial">
                        <div class="tm-testimonial-content">
                            <i class="fa fa-quote-left"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و</p>
                        </div>
                        <div class="tm-testimonial-bottom">
                            <div class="tm-testimonial-authorimage">
                                <img src="~/lib/deconsultrtl/assets/images/authors/author-image-3.jpg" alt="author image">
                            </div>
                            <div class="tm-testimonial-authorcontent">
                                <h5>سیسیلیا ماس</h5>
                                <p>رهبر تیم</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="tm-testimonial">
                        <div class="tm-testimonial-content">
                            <i class="fa fa-quote-left"></i>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعل</p>
                        </div>
                        <div class="tm-testimonial-bottom">
                            <div class="tm-testimonial-authorimage">
                                <img src="~/lib/deconsultrtl/assets/images/authors/author-image-2.jpg" alt="author image">
                            </div>
                            <div class="tm-testimonial-authorcontent">
                                <h5>سیسیلیا ماس</h5>
                                <p>رهبر تیم</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    <vc:last-pages></vc:last-pages>
    <vc:brand></vc:brand>

</main>
<!--// Main -->