@model IEnumerable<MenuViewModel>

@{
    ViewData["Title"] = "مدیریت منو ها";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <partial name="_List" model="Model" />
    </div>
    <footer class="card-footer">
        <security-trimming asp-area="" asp-controller="Menus" asp-action="RenderCreate">
            <a class="btn btn-success" asp-controller="Menus" asp-action="RenderCreate">
                ایجاد یک منو جدید
            </a>
        </security-trimming>
    </footer>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var requestTypeId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Delete", "Menus")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDelete", "Menus")',
                    renderModalPartialViewData: JSON.stringify({ "id": requestTypeId }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                    }
                });
            });

        });
    </script>
}