<!-- Footer Area -->
<div class="footer fixed-footer">

    <!-- Footer Widgets Area -->
    <div class="footer-toparea tm-padding-section" data-bgimage="lib/deconsultrtl/assets/images/bg/footer-bg.jpg" data-overlay="2">
        <div class="container">
            <div class="row widgets footer-widgets">

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Info) -->
                    <div class="single-widget widget-info">
                        <a class="widget-info-logo" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/assets/base/tahlilgaran_logo_white.png" alt="footer logo">
                        </a>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولو</p>
                        <a href="#" class="tm-button">بیشتر بخوانید<b></b></a>
                    </div>
                    <!--// Single Widget (Widget Info) -->
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Contact) -->
                    <div class="single-widget widget-quicklinks">
                        <h5 class="widget-title">لینک های سریع</h5>
                        <ul>
                            <li><a href="#">درباره ی ما</a></li>
                            <li><a href="#">خدمات ما</a></li>
                            <li><a href="#">با ما تماس بگیرید</a></li>
                            <li><a href="#">شرایط و ضوابط</a></li>
                            <li><a href="#">مطالعات موردی</a></li>
                            <li><a href="#">مرکز پشتیبانی</a></li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Blog) -->
                    <div class="single-widget widget-recentpost">
                        <h5 class="widget-title">پست های اخیر</h5>
                        <ul>
                            <li>
                                <a href="#" class="widget-recentpost-image">
                                    <img src="~/lib/deconsultrtl/assets/images/blog/thumbnails/blog-thumbnail-1.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگ</a></h6>
                                    <span>20،اردیبهشت،97</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="widget-recentpost-image">
                                    <img src="~/lib/deconsultrtl/assets/images/blog/thumbnails/blog-thumbnail-2.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="#">لورم ایپسوم متن ساختگی با تولید </a></h6>
                                    <span>20،اردیبهشت،97</span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="widget-recentpost-image">
                                    <img src="~/lib/deconsultrtl/assets/images/blog/thumbnails/blog-thumbnail-3.jpg" alt="blog thumbnail">
                                </a>
                                <div class="widget-recentpost-content">
                                    <h6><a href="#">لورم ایپسوم متن ساختگی با</a></h6>
                                    <span>20،اردیبهشت،97</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Blog) -->
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget (Widget Newsletter) -->
                    <div class="single-widget widget-newsletter">
                        <h5 class="widget-title">در تماس باشید</h5>
                        <p>اخبار کسب و کار، راه حل مشکلات خود را از کارشناسان ما دریافت کنید</p>
                        <form id="tm-mailchimp-form" class="widget-newsletter-form">
                            <input id="mc-email" type="email" placeholder="ادرس پست الکترونیکی را وارد کن">
                            <button id="mc-submit" type="submit" class="tm-button">مشترک شوید<b></b></button>
                        </form>
                        <!-- Mailchimp Alerts -->
                        <div class="tm-mailchimp-alerts">
                            <div class="tm-mailchimp-submitting"></div>
                            <div class="mailchimp-success"></div>
                            <div class="tm-mailchimp-error"></div>
                        </div>
                        <!--// Mailchimp Alerts -->
                    </div>
                    <!--// Single Widget (Widget Newsletter) -->
                </div>

            </div>
        </div>
    </div>
    <!--// Footer Widgets Area -->
    <!-- Footer Copyright Area -->
    <div class="footer-copyrightarea">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 col-12">
                    <p class="footer-copyright">کپی رایت © 2018<a href="#">آنها</a>تمام حقوق محفوظ است</p>
                </div>
                <div class="col-md-4 col-12">
                    <div class="footer-copyrightsocial">
                        <ul>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Skype"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Footer Copyright Area -->

</div>
<!--// Footer Area -->