@model IEnumerable<MenuViewModel>

<!-- Header -->
<div class="header sticky-header">

    <!-- Header Top Area -->
    <div class="header-toparea">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="header-topinfo">
                        <ul>
                            <li><a href="tel_3A//+1-800-915-6270"><i class="fa fa-phone"></i>1-800-915-6270</a></li>
                            <li><a href="mailto://contact@example.com"><i class="fa fa-envelope-o"></i>contact@example.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="header-topinfo text-right">
                        <ul>
                            <li><i class="fa fa-clock-o"></i>شنبه تا پنج شنبه:9 تا 19 </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Header Top Area -->
    <!-- Header Bottom Area -->
    <div class="header-bottomarea">
        <div class="container">
            <div class="header-bottominner">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="~/lib/deconsultrtl/assets/images/logo/logo.png" alt="deconsult logo">
                    </a>
                </div>
                <nav class="tm-navigation">
                    <ul>
                        <li class="tm-navigation-dropdown">
                            <a href="index.html">خانه</a>
                            <ul>
                                <li><a href="index.html">صفحه اصلی پیشفرض</a></li>
                                <li><a href="index-textslider.html">صفحه اصلی اسلایدر متنی</a></li>
                                <li></li>
                                <li><a href="index-ripplebg.html">صفحه اصلی حبابی</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">درباره ما</a></li>
                        <li class="tm-navigation-dropdown">
                            <a href="portfolio.html">نمونه کارها</a>
                            <ul>
                                <li><a href="portfolio.html">شبکه نمونه کارها</a></li>
                                <li><a href="portfolio-details.html">جزئیات نمونه کارها</a></li>
                                <li><a href="portfolio-details-gallery.html">گالری نمونه کارها</a></li>
                                <li><a href="portfolio-details-video.html">جزئیات نمونه کارها ویدئو</a></li>
                            </ul>
                        </li>
                        <li class="tm-navigation-dropdown">
                            <a href="shop.html">فروشگاه</a>
                            <ul>
                                <li><a href="shop.html">محصولات کناری سمت راست</a></li>
                                <li><a href="shop-left-sidebar.html">محصولات نوار کناری سمت چپ</a></li>
                                <li><a href="shop-4-column.html">محصولات 4 ستون</a></li>
                                <li><a href="shop-without-sidebar.html">محصولات بدون نوار کناری</a></li>
                                <li>
                                    <a href="product-details.html">جزئیات محصولات</a>
                                    <ul>
                                        <li><a href="product-details.html">جزئیات محصولات</a>
                                        <li><a href="product-details-left-sidebar.html">جزئیات محصول سمت چپ</a></li>
                                        <li><a href="product-details-variable.html">متغیر جزئیات محصول</a></li>
                                        <li><a href="product-details-without-sidebar.html">مشخصات کالا بدون سایدبار</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">فروشگاه اضافی</a>
                                    <ul>
                                        <li><a href="cart.html">سبد خرید</a></li>
                                        <li><a href="checkout.html">وارسی</a></li>
                                        <li><a href="my-account.html">حساب من</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="tm-navigation-dropdown">
                            <a href="blog.html">وبلاگ</a>
                            <ul>
                                <li><a href="blog.html">وبلاگ راست نوار</a></li>
                                <li><a href="blog-left-sidebar.html">وبلاگ چپ نوار کناری</a></li>
                                <li><a href="blog-3-column.html">وبلاگ 3 ستون</a></li>
                                <li>
                                    <a href="blog-details.html">جزئیات وبلاگ</a>
                                    <ul>
                                        <li><a href="blog-details.html">جزئیات وبلاگ</a></li>
                                        <li><a href="blog-details-left-sidebar.html">جزئیات وبلاگ سمت چپ سمت چپ</a></li>
                                        <li><a href="blog-details-without-sidebar.html">جزئیات وبلاگ بدون سایدبار</a></li>
                                        <li><a href="blog-details-audio.html">جزئیات وبلاگ صوتی</a></li>
                                        <li><a href="blog-details-video.html">جزئیات ویدیو وبلاگ</a></li>
                                        <li><a href="blog-details-gallery.html">گالری جزئیات گالری وبلاگ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="tm-navigation-megamenu">
                            <a href="#">صفحات</a>
                            <ul>
                                <li>
                                    <a href="shop.html">لیست صفحات 1</a>
                                    <ul>
                                        <li><a href="index.html">صفحه اصلی پیشفرض</a></li>
                                        <li><a href="index-textslider.html">صفحه اصلی اسلایدر متنی</a></li>
                                        <li></li>
                                        <li><a href="index-ripplebg.html">صفحه اصلی حبابی</a></li>
                                        <li><a href="about-us.html">درباره ی ما</a></li>
                                        <li><a href="portfolio.html">شبکه نمونه کارها</a></li>
                                        <li><a href="portfolio-details.html">جزئیات نمونه کارها</a></li>
                                        <li><a href="portfolio-details-gallery.html">گالری نمونه کارها</a></li>
                                        <li><a href="portfolio-details-video.html">جزئیات نمونه کارها ویدئو</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">لیست صفحات 2</a>
                                    <ul>
                                        <li><a href="services.html">خدمات</a></li>
                                        <li><a href="service-details.html">جزئیات خدمات</a></li>
                                        <li><a href="service-details-left-sidebar.html">جزئیات خدمات سمت چپ </a></li>
                                        <li><a href="blog.html">وبلاگ راست نوار</a></li>
                                        <li><a href="blog-left-sidebar.html">وبلاگ چپ نوار کناری</a></li>
                                        <li><a href="blog-3-column.html">وبلاگ 3 ستون</a></li>
                                        <li><a href="blog-details.html">جزئیات وبلاگ</a></li>
                                        <li><a href="blog-details-left-sidebar.html">جزئیات وبلاگ سمت چپ سمت چپ</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">لیست صفحات 3</a>
                                    <ul>
                                        <li><a href="blog-details-without-sidebar.html">جزئیات وبلاگ بدون\r\n</a></li>
                                        <li><a href="blog-details-audio.html">جزئیات وبلاگ صوتی</a></li>
                                        <li><a href="blog-details-video.html">جزئیات ویدیو وبلاگ</a></li>
                                        <li><a href="blog-details-gallery.html">گالری جزئیات گالری وبلاگ</a></li>
                                        <li><a href="shop.html">محصولات کناری سمت راست</a></li>
                                        <li><a href="shop-left-sidebar.html">محصولات نوار کناری سمت چپ</a></li>
                                        <li><a href="shop-4-column.html">محصولات 4 ستون</a></li>
                                        <li><a href="shop-without-sidebar.html">محصولات بدون نوار کناری</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">لیست صفحات 4</a>
                                    <ul>
                                        <li><a href="product-details.html">جزئیات محصولات</a>
                                        <li><a href="product-details-left-sidebar.html">جزئیات محصول سمت چپ</a></li>
                                        <li><a href="product-details-variable.html">متغیر جزئیات محصول</a></li>
                                        <li><a href="product-details-without-sidebar.html">مشخصات کالا بدون سایدبار</a></li>
                                        <li><a href="cart.html">سبد خرید</a></li>
                                        <li><a href="checkout.html">وارسی</a></li>
                                        <li><a href="my-account.html">حساب من</a></li>
                                        <li><a href="faq.html">سوالات متداول</a></li>
                                        <li><a href="contact-us.html">تماس با ما</a></li>
                                        <li><a href="404.html">صفحه 404</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">تماس</a></li>
                    </ul>
                </nav>
                <div class="header-icons">
                    <ul>
                        <li>
                            <button title="Search" class="header-searchtrigger"><i class="fa fa-search"></i></button>
                        </li>
                        <li>
                            <a href="cart.html" title="Shopping Cart"><i class="fa fa-shopping-cart"></i></a>
                        </li>
                        <li>
                            <button title="Login / Register" class="header-loginformtrigger" type="button" data-toggle="modal" data-target="#tm-loginregister-popup"><i class="fa fa-user"></i></button>
                        </li>
                    </ul>
                </div>

                <!-- Header Searchform -->
                <div class="header-searchbox">
                    <form action="#" class="header-searchform">
                        <input type="text" placeholder="کلمه کلیدی جستجو را وارد کنید">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!--// Header Searchform -->

            </div>
            <div class="header-mobilemenu clearfix">
                <div class="tm-mobilenav"></div>
            </div>
        </div>
    </div>
    <!--// Header Bottom Area -->

</div>
<!--// Header -->