@model IEnumerable<PageViewViewModel>

@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="badge badge-secondary badge-pill">@item.ViewCount</span>
            @item.PageUrl
        </li>
    }
}
else
{
    <li class="list-group-item text-center">
        هیچ دیتایی یافت نشد
    </li>
}
