@model BrandViewModel

@{
    ViewData["Title"] = "ویرایش برند " + Model.Name;
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <form asp-controller="Brands"
              asp-action="Edit"
              method="post"
              enctype="multipart/form-data">
            <partial name="_CustomValidationSummary" />
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label text-md-left"></label>
                <div class="col-md-10">
                    <input dir="rtl" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Image" class="col-md-2 col-form-label text-md-left"></label>
                <div class="input-group col-sm-10">
                    <input id="SelectedImage" asp-for="Image" autocomplete="off" dir="ltr" class="form-control" />
                    <span class="input-group-prepend input-group-text">
                        <a href="#" id="btnPaste" data-toggle="tooltip" data-placement="bottom" title="جای گذاری">
                            <i class="fas fa-paste"></i>
                        </a>
                    </span>
                    <span class="input-group-prepend input-group-text">
                        <a asp-area="" asp-controller="Folders" asp-action="Index" target="_blank" id="btnSelectPicture" data-toggle="tooltip" data-placement="bottom" title="انتخاب تصویر">
                            <i class="fas fa-image text-info"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Link" class="col-md-2 col-form-label text-md-left"></label>
                <div class="col-md-10">
                    <input dir="ltr" asp-for="Link" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-form-label text-md-left"></label>
                <div class="col-md-10">
                    <textarea dir="rtl" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <div class="form-check">
                        <label asp-for="IsShow" class="form-check-label">
                            <input class="form-check-input" asp-for="IsShow" />
                            @Html.DisplayNameFor(m => m.IsShow)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <input asp-for="Id" />
                    <security-trimming asp-area="" asp-controller="Brands" asp-action="Edit">
                        <button type="submit" class="btn btn-info col-md-2">ارسال</button>
                    </security-trimming>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function triggerRemoteValidation() {
            $('#@nameof(BrandViewModel.Name)').removeData('previousValue');
            $('form').validate().element('#@nameof(BrandViewModel.Name)');
            }

        $('#Description').height(200);

        $(function () {

            $('#btnPaste').click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("PasteFromClipboard","Home",new {area="Identity"})',
                    complete: function (xhr, status) {
                        var data = xhr.responseText;
                        if (xhr.status == 403) {
                            window.location = "/identity/login";
                        }
                        else if (status === 'error' || !data || data == "nok") {
                            alert('خطايي رخ داده است'+'از Ctrl+v استفاده کنید');
                        }
                        else {
                            $('#SelectedImage').val(xhr.responseJSON.txt);
                        }
                    }
                });
            });

        });
    </script>
}